body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
h2{
    display: flex;
    flex-direction: column;
}
#question-container {
    display: flex;
    align-items: flex-start;
}

#question-image {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.question-answers {
    width: 40%;
    text-align: left;
}

#question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#answers button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

#answers button:hover {
    background-color: #0056b3;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.navigation button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation button:hover {
    background-color: #218838;
}

#previous-button {
    background-color: #007BFF;
}

#previous-button:hover {
    background-color: #0056b3;
}
